<%= content_for :title, "My Todos" %>
<%= content_for :head do %>
  <%#= stylesheet_link_tag "my_todos", "data-turbo-track": "dynamic" %>
<% end %>

<%= turbo_stream_from Current.user %>

<h1>My Todos</h1>
<div id="todos">
  <%= turbo_frame_tag :todos_page, @pagy.page, target: :_top do %>
    <% @todos.each do |todo|%>
      <%= turbo_stream_from it %>
    <% end %>

    <%= render partial: "todos/todo", collection: @todos, locals: { inline: true } %>
    
    <% if @pagy.next %>
      <%= turbo_frame_tag :todos_page, @pagy.next, src: todos_path(page: @pagy.next), loading: :lazy, target: :_top do %>
        <%= tag.div "loading ..."  %>
      <% end %>
    <% end %>
  <% end %>
</div>